<template>
  <div>
    <h1>Order #{{order.id}} Details</h1>
    <!-- Message will probably vary by order status.  Will use classes [success/pending/failure] to style the alert box -->
    <span class="order_status pending">The order has been submitted and paid for.  It still needs to be shipped.</span>

    <h2>Customer Information</h2>

    <address>
        <span class="customer_name">{{customer.firstName + " " + customer.lastName}}</span>
        <span class="customer_address">
          {{customer.address.streetAddressLine1}}<br/>
          {{customer.address.city}}, {{customer.address.state}} {{customer.address.zipCode}}
        </span>
        <span class="customer_phone">{{customer.phoneNumber}}</span>
        <span class="customer_email">{{customer.emailAddress}}</span>
    </address>

    <h2>Payment Information</h2>
    <!-- Message will probably vary by payment status.  Will use classes [success/pending/failure] to style the alert box -->
    <span class="payment_status success">Successful payment via <strong>eProcessing Network</strong> using a Visa ending in 0000</span>

    <h2>Shipping Information</h2>
    <!-- Message will probably vary by shipping status.  Will use classes [success/pending/failure] to style the alert box -->
    <span class="shipping_status failure">This order still needs to be shipped</span>

    <form action="#" method="post">
        <table>
            <tr>
                <th>Shipping Status</th>
                <td>
                    <select name="delivery_status">
                        <option value="0">Pending</option>
                        <option value="1">Details Sent</option>
                        <option value="2">Tracking Number Issued</option>
                        <option value="3">Shipment Sent</option>
                        <option value="4">Shipment Delivered</option>
                        <option disabled>--------</option>
                        <option value="-1">Unable to Deliver</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Shipped Via</th>
                <td><input name="shipping_service"/></td>
            </tr>
            <tr>
                <th>Tracking Number</th>
                <td><input name="tracking_number"/></td>
            </tr>
            <tr>
                <th>Date Shipped</th>
                <td><input name="shipping_date"/></td>
            </tr>
            <tr>
                <th>Expected Delivery</th>
                <td><input name="expected_delivery"/></td>
            </tr>
        </table>
    </form>

    <h2>Order Contents</h2>
    <table>
        <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="item in orderItems">
              <td><img src="http://placehold.it/50x50" alt="Product Thumbnail" title="Product Thumbnail"></td>
              <td>{{item.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price}}</td>
              <td>{{item.price * item.quantity}}</td>
          </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">Total</td>
            <td class="cart_total">{{order.total}}</td>
        </tr>
        </tfoot>
    </table>

    <h2>Notes</h2>
    <!-- Note 1 -->
    <article class="order_note panel">
        <h3>This is a note added to an order by the dealer</h3>
        <p>It contains information such as directions on how to fulfill the order</p>
        <a class="button" href="#">Delete Note</a>
    </article>

    <div>
        <textarea name="note_text"></textarea>
        <input type="submit" class="button" value="Add Note"/>
    </div>
  </div>
</template>

<script>

  import config from '../config.js'

  export default {
    name: 'order',
    data() {
      return {
        order: {},
        orderItems: [],
        customer: {
          address: {}
        },
      }
    },
    components: {
    },
    created: function() {
      this.getOrder();
    },
    watch: {
      '$route': 'getOrder'
    },
    methods: {
      getOrder: function() {
        this.orderId = this.$route.params.orderId;
        this.shopId = this.$route.params.shopId;
        
        this.$http.get(config.baseUrl + '/trinary-inventory/v1/shops/' + this.shopId + '/orders/' + this.orderId)
          .then((response) => {
            this.order = response.data;
            this.getCustomer(this.order);
            this.getOrderItems(this.order);
          }, (response => {
            console.log("ERROR")
          }));
      },
      getCustomer: function(order) {
        this.$http.get(config.baseUrl + '/trinary-inventory/v1/users/' + order.userId)
          .then((response) => {
            this.customer = response.data;
          }, (response => {
            console.log("ERROR")
          }));
      },
      getOrderItems: function(order) {
        for (var index in order.itemsAndQuantities) {
          var item = order.itemsAndQuantities[index];
          this.getOrderItem(item);
        }
      },
      getOrderItem: function(orderItem) {
        this.$http.get(config.baseUrl + "/trinary-inventory/v1/items/" + orderItem.itemId)
          .then((response) => {
            var item = response.data;
            var itemRO = {
              name: item.name,
              price: item.price,    // TODO Get this from the orderItem instead
              quantity: orderItem.quantity
            }
            
            this.orderItems.push(itemRO);
          }, (response => {
            console.log("ERROR")
          }));
      }
    }
  }
</script>