<template>
    <div class="cart">
        <div class="row">
                <div class="content">
                    <h1>Cart</h1>

                    <table v-if="cart != undefined">
                        <thead>
                        <tr>
                            <th>Thumbnail</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in cart">
                                <td></td>
                                <td>{{item.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price | currency}}</td>
                                <td>{{item.price * item.quantity | currency}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">Total</td>
                            <td class="cart_total">{{total | currency}}</td>
                        </tr>
                        </tfoot>
                    </table>
                    <p v-if="cart == undefined">Your cart is empty!</p>
                    <button class="btn btn-primary" @click="submit()">Checkout</button>
                    <button class="btn btn-primary" @click="clearCart()">Clear</button>
                </div>
            </div>
    </div>
</template>

<script>
    import cartState from '../cartState.js';

    export default {
        data: function() {
            return {
                cart: {},
                total: 0
            }
        },
        filters: {
            currency: function(priceString) {
                var price = parseInt(priceString);
                return '$' + price.toFixed(2);
            },
            capitalize: function(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
        },
        created: function() {
            this.getCartFromCookie()
        },
        watch: {
            '$route': 'getCartFromCookie'
        },
        methods: {
            submit: function() {
                this.$router.push({ name: 'checkout' })
            },
            clearCart: function() {
                cartState.clearCart(this.$route.params.shopId, this.$cookies);
                this.cart = undefined;
            },
            getCartFromCookie: function() {
                this.cart = cartState.getCart(this.$route.params.shopId, this.$cookies);
                for (var index in this.cart) {
                    var item = this.cart[index];
                    var totalItemPrice = item.price * item.quantity;
                    this.total += totalItemPrice;
                }
            }
        }
    }
</script>