<template>
    <div>
        <div class="row">

            <div class="small-12 medium-9 columns">
                <div class="content">
                    <h1>Checkout</h1>

                    <h2>Order Details</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Thumbnail</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in cart">
                            <td></td>
                            <td>{{item.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price | currency}}</td>
                            <td>{{item.price * item.quantity | currency}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">Total</td>
                            <td class="cart_total">$SUM</td>
                        </tr>
                        </tfoot>
                    </table>

                    <h2>Destination</h2>
                    The order will be sent to <a href=".?page=single_ffl">Dealer Name</a>

                    <h2>Payment Information</h2>


                        <table>
                            <tr>
                                <th colspan="6">Billing Address</th>
                            </tr>
                            <tr>
                                <td colspan="6"><input name="name" placeholder="Name"/></td>
                            </tr>
                            <tr>
                                <td colspan="6"><input name="address" placeholder="Address"/></td>
                            </tr>
                            <tr>
                                <td colspan="6"><input name="address2" placeholder="Address (Line 2)"/></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input name="city" placeholder="City"/></td>
                                <td colspan="2"><input name="state" placeholder="State"/></td>
                                <td colspan="2"><input name="zip" placeholder="ZIP"/></td>
                            </tr>
                            <tr>
                                <th colspan="6">Payment Card</th>
                            </tr>
                            <tr>
                                <td colspan="6"><input name="card" placeholder="Card Number"/></td>
                            </tr>
                            <tr>
                                <td colspan="3"><input name="month" placeholder="MM"/> / <input name="year" placeholder="YY"/></td>
                                <td colspan="3"><input name="cvc" placeholder="CVC"/></td>
                            </tr>
                            <tr>
                                <button class="btn btn-primary" @click="submit()">Submit Order</button>
                            </tr>
                        </table>

                </div>
            </div>
        </div>
    </div>
</template>
<style>
    body{
        background-color:white;
    }
</style>
<script>
    import cartState from '../cartState.js';
    import config from '../config.js';

    export default {
        data: function() {
            return {
                cart: {},
                credentials:{},
                shopId: undefined
            }
        },
        filters: {
            currency: function(priceString) {
                var price = parseInt(priceString);
                return '$' + price.toFixed(2);
            },
        capitalize: function(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
        },
        created: function() {
            this.getCartFromCookie()
        },
        watch: {
            '$route': 'getCartFromCookie'
        },
          methods: {
            submit() {
              var credentials = this.credentials;
              var order = {
                userId: 2,
                itemsAndQuantities: []
              };
              for (var index in this.cart) {
                var item = this.cart[index];
                var item = {
                    itemId: item.id,
                    quantity: item.quantity
                };
                order.itemsAndQuantities.push(item);
              }
              console.log("ORDER: " + JSON.stringify(order));
              this.$http.post(config.baseUrl + '/trinary-inventory/v1/shops/' + this.shopId + "/orders", order)
                  .then((response) => {
                    cartState.clearCart(this.shopId, this.$cookies);
                    this.$router.push({ name: 'order_confirmation' });
                  }, (response => {
                    console.log("ERROR")
                  }));
            },
            getCartFromCookie: function() {
                this.shopId = this.$route.params.shopId;
                this.cart = cartState.getCart(this.shopId, this.$cookies);
            }
        }
    }
</script>
