<template>
	<div>
		<h1><b>{{shop.name}}</b>: Dashboard</h1>
		<div class="idented">
			<router-link :to="{ name: 'shop', params: { shopId: shopId }}" class="button">View Store</router-link>

			<h2>Inventory</h2>
			<div class="idented">
				<router-link :to="{ name: 'product_create', params: { shopId: shopId }}" class="button">Add Item</router-link>
				<products :shopId="shopId" />
			</div>

			<h2>Orders</h2>
			<div class="idented">
				<orders :shopId="shopId" />
			</div>
		</div>
	</div>
</template>

<script>
	import ProductsModal from './ProductsModal.vue'
	import OrdersModal from './OrdersModal.vue'
	import config from '../config.js'

	export default {
		name: 'dealerDashboard',
		data: function() {
			return {
				shopId: undefined,
				shop: {}
			}
		},
		components: {
			'products': ProductsModal,
			'orders': OrdersModal
		},
		created: function() {
			this.onCreate();
		},
		watch: {
			'$route': 'onCreate'
		},
		methods: {
			onCreate: function() {
				this.shopId = this.$route.params.shopId;
				this.getShop();
			},
			getShop: function() {
		        this.page = this.$route.query.page;
		        this.pageSize = this.$route.query.pageSize;
		        this.shopId = this.$route.params.shopId;

		        if (this.page == undefined) {
		        	this.page = 1;
		        }

		        if (this.pageSize == undefined) {
		        	this.pageSize = 12;
		        }

		        this.$http.get(config.baseUrl + '/trinary-inventory/v1/shops/' + this.shopId)
		        	.then((response) => {
		        		this.shop = response.data
		        		window.document.title = this.shop.name
		        	}, (response => {
		        		console.log("ERROR")
		        	}))
		    }
		}
	}
</script>