<template>
	<div>
		<table>
			<thead>
				<tr>
					<th>Order #</th>
					<th>Date</th>
					<th>Customer Name</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="order of orders">
					<td>
						<router-link :to='{name: "admin_order_detail", params: {shopId: shopId, orderId: order.id}}'>
							{{order.id}}
						</router-link>
					</td>
					<td>{{order.createdDate}}</td>
					<td>{{order.customerName}}</td>
					<td>{{order.total | currency}}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a v-on:click="prevPage()">prev</a>|<a v-on:click="nextPage()">next</a>
		</div>
	</div>
</template>

<script>
  	import config from '../config.js'

	export default {
		name: 'productsModal',
		data: function() {
			return {
			orders: [],
			page: 1,
			pageSize: 5
			}
		},
		created: function() {
			this.getOrders();
		},
		watch: {
			'$route': 'getOrders'
		},
		filters: {
	      	currency: function(priceString) {
	      		var price = parseInt(priceString);
	        	return '$' + price.toFixed(2);
	      	}
	    },
		methods: {
			prevPage: function() {
				if (this.page > 1) {
					this.page = this.page - 1;
					this.getOrders();
				}
			},
			nextPage: function() {
				this.page = this.page + 1;
				this.getOrders();
			},
			getOrders: function() {
				this.orders = [];
				this.$http.get(config.baseUrl + '/trinary-inventory/v1/shops/' + this.shopId + "/orders?page=" + this.page + "&pageSize=" + this.pageSize)
					.then((response) => {
						this.orders = response.data;
						for (var i = 0; i < this.orders.length; i++) {
							var order = this.orders[i];
							this.updateOrderMeta(order, i);
						}
					}, (response) => {
						console.log("ERROR");
					});
			},
			updateOrderMeta: function(order, index) {
				this.$http.get(config.baseUrl + '/trinary-inventory/v1/users/' + order.userId)
					.then((response) => {
						var user = response.data;
						order.customerName = user.firstName + " " + user.lastName;
						this.$set(this.orders, index, order);
					}, (response) => {
						console.log("ERROR");
					});
			}
		},
		props: ['shopId']
	}
</script>