<template>
  <div>
    <h1>Order #{{order.id}} Details</h1>

    <form action="#" method="post">
        <table>
            <tr>
                <th>Shipping Status</th>
                <td>
                    SHIPPED
                </td>
            </tr>
            <tr>
                <th>Shipped Via</th>
                <td>USPS</td>
            </tr>
            <tr>
                <th>Tracking Number</th>
                <td>12345</td>
            </tr>
            <tr>
                <th>Date Shipped</th>
                <td>1/1/2017</td>
            </tr>
            <tr>
                <th>Expected Delivery</th>
                <td>1/7/2017</td>
            </tr>
        </table>
    </form>

    <h2>Order Contents</h2>
    <table>
        <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="item in orderItems">
              <td><img src="http://placehold.it/50x50" alt="Product Thumbnail" title="Product Thumbnail"></td>
              <td>{{item.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price}}</td>
              <td>{{item.price * item.quantity}}</td>
          </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">Total</td>
            <td class="cart_total">{{order.total}}</td>
        </tr>
        </tfoot>
    </table>

    <h2>Notes</h2>
    <!-- Note 1 -->
    <article class="order_note panel">
        <h3>This is a note added to an order by the dealer</h3>
        <p>It contains information such as directions on how to fulfill the order</p>
    </article>
  </div>
</template>

<script>

  import config from '../config.js'

  export default {
    name: 'order',
    data() {
      return {
        order: {},
        orderItems: [],
        customer: {
          address: {}
        },
      }
    },
    components: {
    },
    created: function() {
      this.getOrder();
    },
    watch: {
      '$route': 'getOrder'
    },
    methods: {
      getOrder: function() {
        this.orderId = this.$route.params.orderId;
        this.shopId = this.$route.params.shopId;

        this.$http.get(config.baseUrl + '/trinary-inventory/v1/shops/' + this.shopId + '/orders/' + this.orderId)
          .then((response) => {
            this.order = response.data;
            this.getCustomer(this.order);
            this.getOrderItems(this.order);
          }, (response => {
            console.log("ERROR")
          }));
      },
      getCustomer: function(order) {
        this.$http.get(config.baseUrl + '/trinary-inventory/v1/users/' + order.userId)
          .then((response) => {
            this.customer = response.data;
          }, (response => {
            console.log("ERROR")
          }));
      },
      getOrderItems: function(order) {
        for (var index in order.itemsAndQuantities) {
          var item = order.itemsAndQuantities[index];
          this.getOrderItem(item);
        }
      },
      getOrderItem: function(orderItem) {
        this.$http.get(config.baseUrl + "/trinary-inventory/v1/items/" + orderItem.itemId)
          .then((response) => {
            var item = response.data;
            var itemRO = {
              name: item.name,
              price: item.price,    // TODO Get this from the orderItem instead
              quantity: orderItem.quantity
            };

            this.orderItems.push(itemRO);
          }, (response => {
            console.log("ERROR")
          }));
      }
    }
  }
</script>