<template>
	<div>
		<table>
			<thead>
				<tr>
					<th>SKU</th>
					<th>name</th>
					<th>Price</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item of items">
					<td>{{ item.attributes.sku }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.price | currency}}</td>
					<td>{{ item.quantity }}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<a v-on:click="prevPage()">prev</a>|<a v-on:click="nextPage()">next</a>
		</div>
	</div>
</template>

<script>
  	import config from '../config.js'

	export default {
		name: 'productsModal',
		data: function() {
			return {
				items: [],
				page: 1,
				pageSize: 5
			}
		},
		created: function() {
			this.getProducts();
		},
		watch: {
			'$route': 'getProducts'
		},
		filters: {
	      	currency: function(priceString) {
	      		var price = parseInt(priceString);
	        	return '$' + price.toFixed(2);
	      	}
	    },
		methods: {
			prevPage: function() {
				if (this.page > 1) {
					this.page = this.page - 1;
					this.getProducts();
				}
			},
			nextPage: function() {
				this.page = this.page + 1;
				this.getProducts();
			},
			getProducts: function() {
				this.$http.get(config.baseUrl + '/trinary-inventory/v1/shops/' + this.shopId + "/items?page=" + this.page + "&pageSize=" + this.pageSize)
					.then((response) => {
						this.items = response.data;
					}, (response) => {
						console.log("ERROR");
					});
			}
		},
	    props: ['shopId']
	}
</script>