<template>
    <div>
        <h1>Create An Item</h1>
        <h2>Fill Out the Form Below</h2>
        <table>
            <tr>
                <th>Name</th>
                <td><input name="name" v-model="newItem.name"/></td>
            </tr>
            <tr>
                <th>Price [USD]</th>
                <td><input name="price" v-model="newItem.price"/></td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td><input type="number" name="quantity" v-model="newItem.quantity"/></td>
            </tr>
            <tr>
                <th>Description</th>
                <td><textarea name="long_description" v-model="newItem.description"></textarea></td>
            </tr>
            <tr>
                <th>Image</th>
                <td><input type="file" name="product_image" @change="onFileChange"/></td>
            </tr>
            <tr>
                <th>Image Preview</th>
                <td><img :src="image" class="thumbnail"/></td>
            </tr>
            <tr>
                <th colspan="2">Details</th>
            </tr>
            <tr>
                <th>SKU</th>
                <td><input name="sku" v-model="newItem.attributes.sku"/></td>
            </tr>
            <tr>
                <th>UPC</th>
                <td><input name="upc" v-model="newItem.attributes.upc"/></td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td><input name="manufacturer" v-model="newItem.attributes.manufacturer"/></td>
            </tr>
            <tr>
                <th>Category</th>
                <td><input name="category"/></td>
            </tr>
            <tr>
                <th colspan="2">Shipping Information</th>
            </tr>
            <tr>
                <th>Weight</th>
                <td><input name="weight" placeholder="weight" v-model="newItem.weight" /></td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>
                    <input name="length" placeholder="length" v-model="newItem.dimension.length"/>
                    <input name="width" placeholder="width" v-model="newItem.dimension.width"/>
                    <input name="depth" placeholder="depth" v-model="newItem.dimension.depth"/>
                </td>
            </tr>
        </table>
        <input class="button" type="submit" value="Save Product" v-on:click="addItem()"/>
    </div>
</template>
<style>
    body{
        background-color:white;
    }
</style>
<script>
    import config from '../config.js'

    export default {
        data: function() {
            return {
                newItem: {
                    attributes: {},
                    dimension: {},
                },
                image: ''
            }
        },
        created: function() {
            this.onCreated();
        },
        watch: {
          '$route': 'onCreated'
        },
        methods: {
            onCreated: function() {
                this.shopId = this.$route.params.shopId;
            },
			addItem: function() {
                this.createItem(this.shopId, this.newItem);
			},
            createItem: function(shopId, item) {
                console.log("SHOP-ID: " + shopId);
                this.$http.post(config.baseUrl + '/trinary-inventory/v1/shops/' + shopId + '/items', item)
                    .then((response) => {
                        item = response.data;
                        this.addImageToItem(item, this.image);
                    }, (response) => {
                        console.log("ERROR");
                    });
            },
            addImageToItem: function(item, image) {
                if (this.image == '') {
                    this.$router.push({ name: 'dealer_dashboard', params: { shopId: this.shopId } });
                    return;
                }

                console.log("ADDING IMAGE");

                var imageObject = {
                    imageData: this.image.split(",")[1]
                };

                this.$http.post(config.baseUrl + '/trinary-inventory/v1/items/' + item.id + '/image', imageObject)
                    .then((response) => {
                        this.$router.push({ name: 'dealer_dashboard', params: { shopId: this.shopId } });
                    }, (response) => {
                        console.log("ERROR");
                    });
            },
            onFileChange: function(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length) {
                    return;
                }
                this.createImage(files[0]);
            },
            createImage: function(file) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeImage: function (e) {
                this.image = '';
            }
		}
    }
</script>

<style>
    .thumbnail {
        height: 200px;
    }
</style>