<template>
	<div>
		<h1>{{item.name}}</h1>

		<div class="row product_data">
			<div class="small-12 medium-6 columns product_image">
				<img v-if="image==''" src="http://placehold.it/300x300" alt="Product Image" title="Product Image" />
				<img v-if="image!=''" :src="image" alt="Product Image" title="Product Image" />
			</div>
			<div class="small-12 medium-6 columns product_summary">
				<ul class="product_data">
					<li class="price"><b>Price:</b> {{item.price | currency}}</li>
					<li class="discounted_from"><b>Discounted From:</b></li>
					<li class="quantity">
						<b>Quantity:</b> <input name="quantity"/>
						<button v-on:click="addToCart()" class="button">Add to Cart</button>
					</li>
					<br>
					<li><b>Details</b></li>
					<ul>
						<li v-for="(value, key) in item.attributes"><b>{{key | capitalize}}:</b> {{value | capitalize}}</li>
					</ul>
				</ul>
			</div>
			<div class="small-12 columns product_description">
				<p>{{item.description}}</p>
			</div>
		</div>
	</div>
</template>

<script>
	import config from '../config.js'
	import cartState from '../cartState.js'

  	export default {
	    name: "products",
	    data: function() {
	      	return {
	        	item: {},
	        	image: ""
	      	}
	    },
	    created: function() {
	      	this.getProduct()
	    },
	    filters: {
	      	currency: function(priceString) {
	      		var price = parseInt(priceString);
	        	return '$' + price.toFixed(2);
	      	},
	      	capitalize: function(string) {
	        	return string.charAt(0).toUpperCase() + string.slice(1);
	      	}
	    },
	    methods: {
	      	getProduct: function() {
	      		console.log("ITEM");

	        	this.$http.get(config.baseUrl + '/trinary-inventory/v1/items/' + this.$route.params.itemId)
	          		.then((response) => {
	            	this.item = response.data;
	            	this.getImages(this.item);
	          	}, (response) => {
	            	console.log("ERROR");
	          	});
	      	},
	      	getImages: function(item) {
	      		this.$http.get(config.baseUrl + '/trinary-inventory/v1/items/' + item.id + "/image")
	      			.then((response) => {
		            	var images = response.data;
		            	if (images.length > 0) {
		            		this.image = config.baseUrl + '/trinary-inventory/v1/images/' + images[0].id + ".png?thumbnail=true&size=300";
		            	}
		          	}, (response) => {
		            	console.log("ERROR");
		          	});
	      	},
	      	addToCart: function() {
	      		cartState.addToCart(this.$route.params.shopId, this.item, this.$cookies);
	      		this.$router.push({ name: 'cart' })
	      	}
    	}
  	}
</script>

<style type="text/css">
	ul {
		list-style-type: none;
	}
</style>