<template>
  <div>
    <div style="text-align: center;">
      <a v-on:click="prevPage()">prev</a>|<a v-on:click="nextPage()">next</a>
    </div>
    <ul class="small-block-grid-1 medium-block-grid-4">
      <li v-for="item in items">
        <router-link :to="{ name: 'product', params: { itemId: item.id, shopId: shop.id }}">
          <img v-if="item.image==undefined" src="http://placehold.it/200x200" alt="Product Image" :title="item.name"/>
          <img v-if="item.image!=undefined" :src="item.image" :title="item.name"/>
        </router-link>
        <h2><router-link :to="{ name: 'product', params: { itemId: item.id, shopId: shop.id }}">{{item.name}}</router-link></h2>
        <a class="button" href="#" data-reveal-id="myModal">Find an FFL</a>
      </li>
    </ul>
    <div style="text-align: center;">
      <a v-on:click="prevPage()">prev</a>|<a v-on:click="nextPage()">next</a>
    </div>
  </div>
</template>

<script>
  import config from '../config.js'

  export default {
    name: "products",
    data: function () {
      return {
        items: [],
        shop : {},
        page: 1,
        pageSize: 12
      }
    },
    created: function() {
      this.getProducts()
    },
    watch: {
      '$route': 'getProducts'
    },
    filters: {
      currency: function(price) {
        return '$' + price.toFixed(2)
      }
    },
    methods: {
      prevPage: function() {
        if (this.page > 1) {
          this.page = this.page - 1;
          this.getProducts();
        }
      },
      nextPage: function() {
        this.page = this.page + 1;
        this.getProducts();
      },
      getProducts: function() {
        this.shop.id = this.shopId

        this.$http.get(config.baseUrl + '/trinary-inventory/v1/shops/' + this.shopId + "/items?page=" + this.page + "&pageSize=" + this.pageSize)
          .then((response) => {
            this.items = response.data;

            for (var index in this.items) {
              var item = this.items[index];

              this.getImages(item, index);
            }
          }, (response) => {
            console.log("ERROR")
          })
      },
      getImages: function(item, index) {
        this.$http.get(config.baseUrl + '/trinary-inventory/v1/items/' + item.id + "/image")
          .then((response) => {
              var images = response.data;
              if (images.length > 0) {
                var image = config.baseUrl + '/trinary-inventory/v1/images/' + images[0].id + ".png?thumbnail=true&size=200";
                item.image = image;
                this.$set(this.items, index, item);
              }
            }, (response) => {
              console.log("ERROR");
            });
      },
    },
    props: ['shopId']
  }
</script>