<template>
	<div>
		<h1>Shops</h1>
    <div style="text-align: center;">
      <a v-on:click="prevPage()">prev</a>|<a v-on:click="nextPage()">next</a>
    </div>
		<ul class="small-block-grid-1 medium-block-grid-4">
			<li v-for="shop in shops">
				<router-link :to="{ name: 'shop', params: { shopId: shop.id }}"><img src="http://placehold.it/200x200" alt="Product Image" :title="shop.name"></router-link>
				<h2><router-link :to="{ name: 'shop', params: { shopId: shop.id }}">{{shop.name}}</router-link></h2>
			</li>
		</ul>
    <div style="text-align: center;">
      <a v-on:click="prevPage()">prev</a>|<a v-on:click="nextPage()">next</a>
    </div>
	</div>
</template>

<script>
  import Paginator from './Paginator.vue'

  import config from '../config.js'

  export default {
    name: "shops",
    data: function () {
      return {
        shops : [],
        page: 1,
        pageSize: 12
      }
    },
    components: {
      'paginator': Paginator
    },
    created: function() {
  		this.getShops();
    },
    watch: {
      '$route': 'getShops'
    },
    methods: {
      prevPage: function() {
        if (this.page > 1) {
          this.page = this.page - 1;
          this.getShops();
        }
      },
      nextPage: function() {
        this.page = this.page + 1;
        this.getShops();
      },
      getShops: function() {
        this.page = this.$route.query.page;
        this.pageSize = this.$route.query.pageSize;

        console.log("SHOPS");

        if (this.page == undefined) {
          this.page = 1;
        }

        if (this.pageSize == undefined) {
          this.pageSize = 12;
        }

        this.$http.get(config.baseUrl + '/trinary-inventory/v1/shops?page=' + this.page + "&pageSize=" + this.pageSize)
          .then((response) => {
            this.shops = response.data
          }, (response) => {
            console.log("ERROR")
          })
      }
    }
  }
</script>