<template>
    <div>
        <div class="container">
          <div class="contain-to-grid sticky">
            <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
              <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                  <li v-if='shopId != undefined'><router-link :to='{name: "shop", params: {shopId: shopId}}'>Home</router-link></li>
                  <li v-if='shopId != undefined'><router-link :to='{name: "cart", params: {shopId: shopId}}'>Cart({{cartSize}})</router-link></li>
                  <li><a href="#" data-reveal-id="myModal">Find an FFL</a></li>
                </ul>
              </section>
            </nav>
          </div>

          <div class="header_image">
            <img src="http://placehold.it/1200x300" alt="Header banner image" title="Header banner image">
          </div>

          <!-- START COARTNT -->
          <div class="row" >

            <aside class="medium-3 show-for-medium-up columns sidebar" >
              <div v-if='shopId != undefined'>
                <input name="s" placeholder="Product Search"/>
                <input class="button" type="submit">
              </div>
              <div v-if='shopId == undefined'>
                <input name="s" placeholder="Shop Search"/>
                <input class="button" type="submit">
              </div>
              <menu class="sidebar_menu">
                <li><a href="#">Find an FFL</a></li>
              </menu>
            </aside>

            <div>
              <div class="small-12 medium-9 columns" >
                <div id="content" class="content-box">
                    <router-view></router-view>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->

          <footer>
            &copy;2016 Big Cloud Media, All Rights Reserved
          </footer>
        </div>
    </div>
</template>

<script>
  import cartState from './cartState.js';

  export default {
      data: function() {
        return {
          cart: [],
          cartSize: 0
        }
      },
      computed: {
          shopId: function() {
              return this.$route.params.shopId;
          }
      },
      created: function() {
          window.document.title = "Trinventory Shop Service";
          this.updateLinks();
      }, 
      watch: {
          '$route': 'updateLinks'
      },
      methods: {
          updateLinks: function() {
              this.cartSize = 0;
              this.cart = cartState.getCart(this.$route.params.shopId, this.$cookies);
              for (var index in this.cart) {
                this.cartSize++;
              }
          }
      }
  }
</script>